body{
    background-color: orange;
}

.edit-content{
  width: 75%;    
  position: relative;
  top: 85px;
  left: 250px;
  padding: 20px;
  background: #fff;
  min-height: 460px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;   
}