.card{
    width:25rem;
    height: 25rem;
    position: relative;
    top: 65px;
    left: 45px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
}

.card-body{
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
.media img{
    width:34px;
    height:34px;
    border-radius: 54px;
}
h6{
    padding:2px ; 
}
ul{
    list-style-type: none;
    padding : 0px;
    margin-left: 9px;
    margin-bottom: 1px;
}
li{
    padding: 0px;
}
.media-body{
    padding:;
}